<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Royalty Cafe`</title>
</head>

<body>
    <div class="container mainDiv justify-content-center my-5">


        <div class="row justify-content-center">

          <div class="row justify-content-center">
                 {{#if greet}}
            
            <div class="alert alert-text alert-dismissible my-5 justify-content-center col-12 greet">

                {{!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> --}}
                <p class="text-center h4">{{greet}} </p>
            </div>
            {{else}}
              <div class="alert alert-text alert-dismissible my-5 ml-5 justify-content-center col-8">

                {{!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> --}}
                <p class="text-center h3">{{messages.name}} </p>
            </div>
            
            {{/if}}
            </div>
           
            <div class="col-9 text-center display-5 w-100 p-5 mt-5 center-div">

                <div class="row">
                    <h2 class="col-12 titleHeader h1">Royalty Cafe`</h2>
                </div>
                <form action="/waiters/{{name}}" method="POST">
                    <div class="row py-5 px-5 justify-content-center">

                        {{#each daysObj}}
                        <div class="form-check form-check-inline py-5">
                            <input class="form-check-input big" type="checkbox" id="inlineCheckbox1" name="selectedDays"
                                value={{this.name}} {{checked}} {{disabled}}>
                            <label class="form-check-label" for="inlineCheckbox1">{{this.name}}</label>
                        </div>
                      
                        {{/each}}
                        {{#if daysObj}}  <button type="submit" class="btn btn-light btn mt-3" name="submitShifts">submit shifts</button>{{/if}}


                    </div>
                    {{#if messages.err}}
                    <p class="text-center text-danger bg-light p-3 h5 rounded">{{messages.err}} </p>
                    <br>
                    <a href="/waiters/:username" type="submit" class="btn btn-light btn mt-3" name="submitShifts">pick
                        shifts</a>

                    {{/if}}


            </div>

        </div>
    </div>
</body>

</html>