<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>waiter_web_application</title>
</head>

<body>
    <div class="container mainDiv justify-content-center">
        <div class="row">

            <div class="col-1">
                <h3></h3>
            </div>
            <div class="col-9 text-center display-5 w-100 p-3 center-div">
                 
                <div class="row">
                    <h2 class="col-12 titleHeader">Waiter Availability</h2>
                </div>

                <div class="row py-5 px-5">
                    <form action="/waiters/:username" method="POST">
                        {{#each daysObj}}
                        <div class="form-check form-check-inline py-5">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{this.days}}">
                            <label class="form-check-label" for="inlineCheckbox1"
                                name="selectedDays">{{this.days}}</label>
                        </div>
                        {{/each}}
                        <br>

                    </form>

                </div>
<div class="col-12">
    <form action="/submitShifts" method="GET">
            <button type="submit" class="btn btn-light btn mt-3 " name="submitShifts">submit shifts</button>
            </form>

</div>

<div class="col-12">
    <form action="/backtologin" method="GET">
                <div class="col-2 mt-5">
                    <button type="submit" class="btn btn-light btn">back</button>

                </div>
            </form>

</div>
            </div>

            {{!-- <div class="col-1">
                {{#if storeDetails}}

                {{storeDetails}}

                {{else}}
                {{signIn}}

                {{/if}}
            </div> --}}



        </div>

        <div class="row">
                        
        </div>


    </div>

</body>

</html>