<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login_web_application</title>
</head>

<body>
    <div class="container mainDiv justify-content-center p-5 my-5">
        <div class="row">

            <div class="col-3">
                <h3></h3>
            </div>
            <div class="col-6 text-center display-5 w-100 p-5 my-5 center-div">
                <div class="row">
                    <h2 class="col-12 titleHeader"> Waiter Availability</h2>
                </div>


               <div class="col-12 error py-0 mx-0">
                    {{#if messages.info}}
                    <div class="alert alert-success alert-dismissible">

                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center">{{messages.info}} </p>
                    </div>
                    <div class="row justify-content-center">
                <form action="/back" method="GET">
                <div class="col-12">
                    <button type="submit" class="btn btn-light btn">select shifts</button>

                </div>
            </form>
           </div>


                    {{/if}}
                     {{#if messages.shifts}}
                    <div class="alert alert-success alert-dismissible my-5">

                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center">{{messages.shifts}} </p>
                    </div>
                    <div class="row justify-content-center">

                        <table class="table table-hover text-light my-3">
                        <thead>
                            <tr>
                                <th scope="col" class="h4">Waiter Name</th>
                                <th scope="col" class="h4">Days Selected</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each waiterShifts}}

                            <td class="h4"><a href="/waiters/:{{this.waiter_name}}"
                                    class="text-reset text-decoration-none">{{this.waiter_name}}</a></td>


                            <td class="h4">{{this.days_selected}}</td>

                            {{/each}}
                        </tbody>
                    </table>

                <form action="/back" method="GET">
                <div class="col-12 my-5">
                    <button type="submit" class="btn btn-light btn">back</button>

                </div>
            </form>
           </div>


                    {{/if}}


                </div>
                  {{!-- <div class="row py-5 px-5"> --}}

                    
                {{!-- </div> --}}

            </div>
           
            <div class="col-3">
                <h3></h3>
            </div>



        </div>
        

    </div>

</body>

</html>