<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>login_web_application</title>
</head>

<body class="main">
    <div class="main">
        <div class="row mainDiv justify-content-center p-5 my-5">

            <div class="col-1">
                <h3></h3>
            </div>
            <div class="col-10 text-center display-5 w-100 p-5 my-5 center-div">
                <div class="row">
                    <h2 class="col-12 titleHeader h1"> Royalty Cafe`</h2>
                </div>


                <div class="col-12 error py-0 mx-0">
                    {{#if messages.info}}
                    <div class="alert alert-success">

                        {{!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> --}}
                        <p class="text-center">{{messages.info}} </p>
                    </div>
                    <div class="row justify-content-center">
                        <form action="/back" method="GET">
                            <div class="col-12">
                                <button type="submit" class="btn btn-light btn">select shifts</button>

                            </div>
                        </form>
                    </div>
                    {{/if}}
                    {{#if messages.userExists}}
                    <div class="alert alert-danger alert-dismissible">

                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <p class="text-center">{{messages.userExists}} </p>
                    </div>
                    <div class="row justify-content-center">
                        <form action="/back" method="GET">
                            <div class="col-12">
                                <button type="submit" class="btn btn-light btn">create valid account</button>

                            </div>
                        </form>
                    </div>
                    {{/if}}
                    {{#if messages.shifts}}
                    <div class="alert alert-success alert-dismissible my-5">

                        {{!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> --}}
                        <p class="text-center">{{messages.shifts}} </p>
                    </div>
                    <div class="row justify-content-center">

                        <table class="table text-light my-3">
                            <thead>
                                <tr>
                                    <th scope="col" class="h4">Waiter</th>
                                    <th scope="col" class="h4">Days Selected</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <td class="h4"><a href="#" class="text-reset text-decoration-none">{{theName}}</a></td>


                                <td class="h4">{{days}}</td>

                               </tbody>
                        </table>

                        <form action="/waiters/:username" method="GET">
                            <div class="col-12 my-5">
                                <button type="submit" class="btn btn-light btn">back</button>

                            </div>
                        </form>
                    </div>


                    {{/if}}


                </div>

            </div>

            <div class="col-1">
                <h3></h3>
            </div>



        </div>


    </div>

</body>

</html>